body {

    font-family: 'Orbitron', sans-serif;
    text-align: left;
}

.grid {
    border: double 2rem #808080;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto 10rem;


}

.grid-item {
    background-color: rgb(158, 253, 253);
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    padding: 20px;
    font-size: 30px;
    text-align: center
}

.grid-item:active, .grid-item:hover {
    background-color: aqua;
    -webkit-box-shadow: inset -2px 4px 42px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -2px 4px 42px 0px rgba(0,0,0,0.75);
    box-shadow: inset -2px 4px 42px 0px rgba(0,0,0,0.75);
}

.display {
    grid-column-start: 1;
    grid-column-end: 5;
}
