*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Orbitron', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}


body {

    background: rgb(53,34,195);
    background: linear-gradient(0deg, rgba(53,34,195,1) 0%, rgba(229,42,212,1) 74%, rgba(45,196,253,1) 100%);
    padding: 0;
    margin: 0;
    text-align: center;
}

.grid {

    display: grid;
    justify-content: center;
    min-height: max-content;
    grid-template-columns: repeat(4,4.75rem);
    grid-template-rows: minmax(4.75rem, auto) repeat(5,4.75rem);
}

.grid > button { 
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    border: 3px solid white;
    outline: none;
    background-color: rgb(240, 255, 240, 0.7);
}

.grid > button:hover{ 
    background-color: #f0fff0e6;
}

footer {
    font-size: 1rem;
    line-height: 3rem;
    margin-top: 5rem;
    padding:2rem;
    background-color: rgb(0, 0, 0, 0.7);
    color:white;
}

h1 {
    font-size: 3rem;
    font-weight: bolder;
    padding:2rem
}

.output {
    grid-column: 1 / -1;
    background-color: rgb(0, 0, 0, 0.7);
    color:white;
    font-size: 1.7rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color:rgb(255, 255, 255, 0.7);
    font-size: 1.5rem;
}

.span-two {
    grid-column: span 2;
}

@media screen and (min-width:700px) {
        
    footer {
        font-size: 1.6rem;
        line-height: 3rem;
        padding:3rem
      
    }

    .grid {
        grid-template-columns: repeat(4,7rem);
        grid-template-rows: minmax(7rem, auto) repeat(5,5rem);
    
    }
    
    .grid > button { 
        
        font-size: 2.5rem;
        font-weight: normal;
        border: 5px solid white;

    }

}


