*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Orbitron', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}


body {

    background: rgb(25,213,63);
    background: linear-gradient(90deg, rgba(25,213,63,1) 0%, rgba(0,212,255,1) 53%, rgba(93,93,255,1) 100%);
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    justify-content: center;
    min-height: max-content;
    grid-template-columns: repeat(4,6rem);
    grid-template-rows: minmax(6rem, auto) repeat(5,6rem);
}

.grid > button { 
    cursor: pointer;
    font-size: 2rem;
    border: 3px solid white;
    outline: none;
    background-color: rgb(240, 255, 240, 0.7);
}

.grid > button:hover{ 
    background-color: #f0fff0e6;

}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgb(0, 0, 0, 0.7);
}






